body{
      
       font-family: 'Poiret One', sans-serif ;
    font-size: 30px;
}
@-webkit-keyframes pulse {
      0% {background-color: #29aa93;}
       10% {background-color: #3085b4;}
       20% {background-color: #2966da;}
       30% {background-color: #7047c5;}
       40% {background-color: #833fbf;}
       50% {background-color: #b42daf;}
       60% {background-color: #e42691;}
       70% {background-color: #f35559;}
       80% {background-color: #ea7242;}
       90% {background-color: #eb852f;}
       100% {background-color: #abaf35;}
    
}
@-webkit-keyframes pulse2 {
      0% {border-color: #29aa93; color: #29aa93;}
       10% {border-color: #3085b4; color: #3085b4;}
       20% {border-color: #2966da; color: #2966da; }
       30% {border-color: #7047c5; color: #7047c5;}
       40% {border-color: #833fbf; color: #833fbf;}
       50% {border-color: #b42daf; color: #b42daf;}
       60% {border-color: #e42691; color: #e42691;}
       70% {border-color: #f35559;color: #f35559;}
       80% {border-color: #ea7242;color: #ea7242;}
       90% {border-color: #eb852f;color: #eb852f;}
       100% {border-color: #abaf35;color: #abaf35;}
    
}
@-webkit-keyframes pulse3 {
      0% { color: #29aa93;}
       10% {color: #3085b4;}
       20% { color: #2966da; }
       30% { color: #7047c5;}
       40% {color: #833fbf;}
       50% { color: #b42daf;}
       60% { color: #e42691;}
       70% {color: #f35559;}
       80% {color: #ea7242;}
       90% {color: #eb852f;}
       100% {color: #abaf35;}
    
}
@-webkit-keyframes pulse42 {
      0% {  background-image: url("q1.PNG");}
       50%{  background-image: url("q2.PNG");}
       100% {  background-image: url("q3.PNG");}
    
}
@-moz-keyframes pulse42 {
      0% {  background-image: url("q1.PNG");}
       50%{  background-image: url("q2.PNG");}
       100% {  background-image: url("q3.PNG");}
    
}

@-webkit-keyframes pulse43 {
      0% {  background-image: url("ljek1.PNG");}
       50%{  background-image: url("ljek2.PNG");}
       100% {  background-image: url("ljek3.PNG");}
    
}
@-moz-keyframes pulse43 {
      0% {  background-image: url("ljek1.PNG");}
       50%{  background-image: url("ljek2.PNG");}
       100% {  background-image: url("ljek3.PNG");}
    
}
@-webkit-keyframes pulse44 {
      0% {  background-image: url("sm1.PNG");}
       50%{  background-image: url("sm2.PNG");}
       100% {  background-image: url("sm1.PNG");}
    
}
@-moz-keyframes pulse44 {
      0% {  background-image: url("sm1.PNG");}
       50%{  background-image: url("sm2.PNG");}
       100% {  background-image: url("sm1.PNG");}
    
}
@-webkit-keyframes pulse45 {
      0% {  background-image: url("em1.PNG");}
       50%{  background-image: url("em2.PNG");}
       100% {  background-image: url("em3.PNG");}
    
}
@-moz-keyframes pulse45 {
      0% {  background-image: url("em1.PNG");}
       50%{  background-image: url("em2.PNG");}
       100% {  background-image: url("em3.PNG");}
    
}
.na{
    border-style: solid;
    border-width: 3px;
     -webkit-animation: pulse2 5s infinite alternate;
     height:65px;
     width:335px;
     padding:20px;
}

.da{
    position:absolute;
    top:100px;
    left:100px;
    height:600px;
    width:800px;
    background-color:blue;

    background-size:cover;
    color:white;
    opacity:0.4;
}
.da1 , .bp1,.ws1 , .wa1{
    position:absolute;
        top:3px;
        left:220px;
        
}
.bp{
  position:absolute;
    top:100px;
    left:950px;
    height:600px;
    width:800px;  
    background-color: blueviolet;
 
    background-size:cover;
    color:white;
    opacity:0.4;
}
.ws{
 position:absolute;
    top:750px;
    left:100px;
    height:600px;
    width:800px;  
     background-color: forestgreen;
 
     background-size:cover;
     color:white;
     opacity:0.4;
}
.wa{
    position: absolute;
      top:750px;
    left:950px;
    height:600px;
    width:800px; 
    background-color:orange;
   
    color:white;
    background-size:cover;
    opacity:0.4;
}
.ikon{
    position: absolute;
    top:1500px;
    left:100px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; 
    color:black;
    font-size: 50px;
    padding:50px;
    -webkit-animation: pulse3 5s infinite alternate;
}
.menu{
    font-family: Montserrat, arial, sans-serif; 
    text-align: center;
    opacity:0.7;
    margin:0px;
    font-size:22px;
}
a:visited {
    color: black;
     text-decoration: none;
   
}

a:hover {
    color:black;
     text-decoration: none;
}

a:active {
    color: black;
     text-decoration: none;
}
form{
    position:absolute;
    top:100px;
    left:200px;
}
.stranice{
     font-family: 'Poiret One', sans-serif ;
   position:absolute;
   visibility: hidden;
   left:170px;
   top:57px;
     font-size:15px;
     font-weight:100;
}
#img {
  position: absolute;
  left: 0px;
  top:0px;
}



#image {
  position: absolute;
  left: 140px;
  top:39px;
   
}
#text {
  
  position: absolute;
  left: 170px;
  top: 1px;
}
footer{
     font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; 
    opacity:0.7;
   background-color: #45CEEF;    
     -webkit-animation: pulse 5s infinite alternate;
     color:white;
     position:relative;
   left:0px;
   top:2750px;
   height:170px;
   width:1890.5px;
   font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; 
   font-size: 15px;
    font-weight:lighter;
   text-align: center;
}
.submit {
    background-color: white;
     font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
        border-style: solid;
   border-color: #45CEEF;    
     -webkit-animation: pulse2 5s infinite alternate;
    color: dodgerblue;
  
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width:300px;
    height:60px;
    margin:10px;

}

.submit21 {
   opacity:0.9;
    background-color: #45CEEF;    
     -webkit-animation: pulse 5s infinite alternate;font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
     border-style: solid;
   border-color: white;
    color: white;
    height:300px;
    text-align: center;
    display: inline-block;
    margin:10px;
    font-size: 18px;
   width:300px;
}
.fotmart{
 font-family: 'Dawning of a New Day', cursive;
     font-size: 40px;
    
}

.potpis{
     position:fixed;
    top:300px;
    left:500px;
   
    width: 1200px;
    height:600px;
    font-family: 'Dawning of a New Day', cursive;
     font-size: 250px;
   -webkit-animation: pulse3 5s infinite alternate;
      -ms-transform: rotate(40deg); /* IE 9 */
    -webkit-transform: rotate(40deg); /* Safari */
    transform: rotate(40deg); /* Standard syntax */
    opacity:0.5;
}
.sadrzaj{
  position:absolute;
    top:100px;
    left:200px; 
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
     font-size: 20px;
}
.sad1{
  
    opacity:1;
   background-image: url('z.jpg');    
   
     color:black;
     position:relative;
   left:100px;
   top:100px;
   height:900px;
   width:1700px;
   font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; 
   font-size: 13px;
    font-weight:lighter;
   text-align: center;
   vertical-align: middle;
}
.sad2{
      font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; 
   font-size: 20px;
  color:black;
     position:absolute;
   left:108px;
   top:1080px;
   height:50px;
   width:850px;  
 padding-top: 450px;
   border-color: black;
   border-width: 1px;
     border-style: none;
    -webkit-animation: pulse42 5s infinite alternate;
    -moz-animation: pulse42 5s infinite alternate;
      background-size: 850px 400px;
      background-repeat: no-repeat;
     
}
.sad3{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; 
   font-size: 20px;
    border-color: black;
    color:black;
     position:absolute;
   left:958px;
    top:1080px;
   height:50px;
   width:850px;  
 padding-top: 450px;
   border-width: 1px;
     border-style:none;
     border-left-width: 0px;
     -webkit-animation: pulse43 5s infinite alternate;
    -moz-animation: pulse43 5s infinite alternate;
      background-size: 850px 430px;
      background-repeat: no-repeat;
     
}
.sad4{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; 
   font-size: 20px;
    border-color: black;
    color:black;
     position:absolute;
   left:500px;
   top:1780px;
   height:1px;
   padding-top:470px;
   width:800px;
   border-width: 1px;
     border-style: solid;
     border-top-width: 0px;
       -webkit-animation: pulse44 5s infinite alternate;
    -moz-animation: pulse44 5s infinite alternate;
      background-size: 800px 500px;
      background-repeat: no-repeat;
}
.sad5{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; 
   font-size: 20px;
    border-color: black;
    color:black;
     position:absolute;
   left:650px;
   top:2450px;
   height:50px;
   padding-top:900px;
   width:500px;
   border-width: 1px;
     border-style: none;
     border-top-width: 0px;
        -webkit-animation: pulse45 5s infinite alternate;
    -moz-animation: pulse45 5s infinite alternate;
      background-size: 500px 900px;
      background-repeat: no-repeat;
}
.tz{
     position:relative;
     opacity:0.9;
   left:660px;
   top:40px;
   height:200px;
   width:400px;
  color:white;
   font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; 
   font-size: 30px;
  
}
.sadu2{
   opacity:1;
   background-image: url('z.jpg');    
   
     color:black;
     position:relative;
   left:100px;
   top:2400px;
   height:900px;
   width:1700px;
   font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; 
   font-size: 13px;
    font-weight:lighter;
   text-align: center;
   vertical-align: middle;  
}
.tzu2{
    position:relative;
     opacity:0.9;
   left:660px;
   top:40px;
   height:200px;
   width:400px;
  color:white;
   font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; 
   font-size: 30px; 
}
@-moz-document url-prefix() { 
    @-moz-keyframes pulse {
      0% {background-color: #29aa93;}
       10% {background-color: #3085b4;}
       20% {background-color: #2966da;}
       30% {background-color: #7047c5;}
       40% {background-color: #833fbf;}
       50% {background-color: #b42daf;}
       60% {background-color: #e42691;}
       70% {background-color: #f35559;}
       80% {background-color: #ea7242;}
       90% {background-color: #eb852f;}
       100% {background-color: #abaf35;}
    
}
@-moz-keyframes pulse2 {
      0% {border-color: #29aa93; color: #29aa93;}
       10% {border-color: #3085b4; color: #3085b4;}
       20% {border-color: #2966da; color: #2966da; }
       30% {border-color: #7047c5; color: #7047c5;}
       40% {border-color: #833fbf; color: #833fbf;}
       50% {border-color: #b42daf; color: #b42daf;}
       60% {border-color: #e42691; color: #e42691;}
       70% {border-color: #f35559;color: #f35559;}
       80% {border-color: #ea7242;color: #ea7242;}
       90% {border-color: #eb852f;color: #eb852f;}
       100% {border-color: #abaf35;color: #abaf35;}
    
}
@-moz-keyframes pulse3 {
      0% { color: #29aa93;}
       10% {color: #3085b4;}
       20% { color: #2966da; }
       30% { color: #7047c5;}
       40% {color: #833fbf;}
       50% { color: #b42daf;}
       60% { color: #e42691;}
       70% {color: #f35559;}
       80% {color: #ea7242;}
       90% {color: #eb852f;}
       100% {color: #abaf35;}
    
}
.sad1{
  
    opacity:0.9;
   background-color: #45CEEF;    
     -moz-animation: pulse 5s infinite alternate;
     color:white;
     position:relative;
   left:100px;
   top:100px;
   height:800px;
   width:1700px;
   font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; 
   font-size: 13px;
    font-weight:lighter;
   text-align: center;
   vertical-align: middle;
}
.tz{
     position:relative;
     opacity:0.9;
   left:400px;
   top:600px;
   height:200px;
   width:400px;
  color:white;
   font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; 
   font-size: 30px;
    
     -webkit-animation: pulse 5s infinite alternate;
     -mozkit-animation: pulse 5s infinite alternate;
}
 .menu{
    font-family: Montserrat, arial, sans-serif; 
    text-align: center;
    opacity:0.7;
    margin:0px;
    font-size:22px;
}
a:visited {
    color: black;
     text-decoration: none;
   
}

a:hover {
    color:black;
     text-decoration: none;
}

a:active {
    color: black;
     text-decoration: none;
}
form{
    position:absolute;
    top:100px;
    left:200px;
}
.stranice{
     font-family: 'Poiret One', sans-serif ;
   position:absolute;
   visibility: hidden;
   left:170px;
   top:57px;
     font-size:15px;
     font-weight:100;
}
#img {
  position: absolute;
  left: 0px;
  top:0px;
}

.na{
    border-style: solid;
    border-width: 3px;
     -moz-animation: pulse2 5s infinite alternate;
}

#image {
  position: absolute;
  left: 140px;
  top:39px;
   
}
#text {
  
  position: absolute;
  left: 170px;
  top: 1px;
}
footer{
     font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; 
    opacity:0.7;
   background-color: #45CEEF;    
     -moz-animation: pulse 5s infinite alternate;
     color:white;
     position:relative;
   left:0px;
   top:700px;
   height:170px;
   width:1500px;
   font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; 
   font-size: 13px;
    font-weight:lighter;
   text-align: center;
}
.submit {
    background-color: white;
     font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
        border-style: solid;
   border-color: #45CEEF;    
     -moz-animation: pulse2 5s infinite alternate;
    color: dodgerblue;
  
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width:200px;
    height:40px;
    margin:10px;

}

.submit21 {
   opacity:0.9;
    background-color: #45CEEF;    
     -moz-animation: pulse 5s infinite alternate;font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
     border-style: solid;
   border-color: white;
    color: white;
    height:200px;
    text-align: center;
    display: inline-block;
    margin:10px;
    font-size: 12px;
   width:200px;
}
.fotmart{
 font-family: 'Dawning of a New Day', cursive;
     font-size: 40px;
    
}

.potpis{
     position:fixed;
    top:300px;
    left:300px;
   
    width: 1200px;
    height:600px;
    font-family: 'Dawning of a New Day', cursive;
     font-size: 200px;
   -webkit-animation: pulse3 5s infinite alternate;
    -moz-animation: pulse3 5s infinite alternate;
      -ms-transform: rotate(40deg); /* IE 9 */
    -webkit-transform: rotate(40deg); /* Safari */
    transform: rotate(40deg); /* Standard syntax */
    opacity:0.5;
}
.ikon{
    position: absolute;
    top:1500px;
    left:100px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; 
    color:black;
    font-size: 50px;
    padding:50px;
    -moz-animation: pulse3 5s infinite alternate;
}
}